<%= form_for(@term_item_term) do |f| %>
  <% if @term_item_term.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@term_item_term.errors.count, "error") %> prohibited this term_item_term from being saved:</h2>

      <ul>
      <% @term_item_term.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :term_id %><br>
    <%= f.text_field :term_id %>
  </div>
  <div class="field">
    <%= f.label :term_item_id %><br>
    <%= f.text_field :term_item_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
