<p id="notice"><%= notice %></p>

<h1>Listing Degree Plans</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Department</th>
      <th>Name</th>
      <th>Degree Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @degree_plans.each do |degree_plan| %>
      <tr>
        <td><%= degree_plan.department.name %></td>
        <td><%= degree_plan.name %></td>
        <td><%= degree_plan.kind %></td>
        <td><%= link_to 'Edit Plan', degree_plan %></td>
        <td><%= link_to 'Change Name', edit_degree_plan_path(degree_plan) %></td>
        <td><%= link_to 'Destroy', degree_plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Degree plan', new_degree_plan_path, class: 'btn btn-primary' %>
