<tr data-term-item="<%= term_item.id %>">
  <td data-attribute="description"><%= term_item.description %></td>
  <td data-attribute="hours"><%= term_item.hours %></td>
  <td data-attribute="minimum_grade"><%= term_item.minimum_grade %></td>
  <td data-attribute="notes"><%= term_item.notes %></td>
</tr>
