<%= form_for(@course_term_item) do |f| %>
  <% if @course_term_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course_term_item.errors.count, "error") %> prohibited this course_term_item from being saved:</h2>

      <ul>
      <% @course_term_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :course_id %><br>
    <%= f.text_field :course_id %>
  </div>
  <div class="field">
    <%= f.label :term_item_id %><br>
    <%= f.text_field :term_item_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
